<% content_for :page_title, "Subscribe to our newsletter" %>
<% content_for :page_description, "" %>

<div class="mt-16 max-w-5xl mx-auto px-2">
  <h1 class="text-3xl">Subscribe to our newsletter</h1>

  <p class="mt-4 text-lg text-gray-700">Give your visitors a compelling reason to subscribe to your newsletter.</p>

  <%= render 'sjabloon/subscribers/form' %>
</div>

